<section th:fragment="content" class="page-section py-0" id="messages">
    <div class="container-fluid bg-primary text-center text-white py-5">
        <div class="container px-4">
            <h2 class="text-white mt-0">Üzenetek</h2>
            <hr class="divider divider-light"/>
            <p class="text-white mb-4">A kapcsolat menüből beérkezett üzenetek listája.</p>
        </div>
    </div>

    <div class="container-lg my-5">
        <h3 class="mb-4 text-primary">Beérkezett üzenetek</h3>

        <div class="table-responsive">
            <table class="table table-hover shadow-sm bg-white rounded" id="messageTable">
                <thead class="table-primary">
                <tr>
                    <th class="ps-4" style="width: 15%;">Küldés ideje</th>
                    <th style="width: 15%;">Név</th>
                    <th style="width: 20%;">E-mail</th>
                    <th style="width: 50%;">Üzenet</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="m : ${messages}">
                    <td th:text="${#temporals.format(m.createdAt, 'yyyy-MM-dd HH:mm')}" class="ps-4 text-muted"></td>
                    <td th:text="${m.fullname}" class="fw-semibold"></td>
                    <td th:text="${m.email}" class="text-primary"></td>
                    <td th:text="${m.message}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
